<footer id="footer">
  <div class="container text-muted">
    <spam>
      Velit Courier © 2017
    </spam>
    <!--<span class="">-->
      <!--Уеб дизайн: Асен Тодоров-->
    <!--</span>-->
  </div>
</footer>