<footer id="footer" class="text-center">
  <div class="row wrapper">
    <div class="col-6">
      Velit Courier © 2017
    </div>
    <div class="col-6 design">
      Уеб дизайн:
    </div>
  </div>
</footer>