<footer>
  <div class="container text-muted">
    <spam>
      <%= t('company') %> © 2017
    </spam>
    <!--<span class="">-->
      <!--Уеб дизайн: Асен Тодоров-->
    <!--</span>-->
  </div>
</footer>