<div class=" container justify-text">
  <h1><%= I18n.translate('views.pages.about.topic') %></h1>
  <p>Фирма Велит Куриер предлага куриерски услуги на територията на Република България както и пълната гама транспорти,
    логистични и застрахователни решения за Вашия бизнес.
    Към пакета от услуги,които ние предлагаме са включени и доставки на букети от свежи цветя ,билети ,подаръци
    разпространението на покани за вашето тържество или фирмено парти и др. Подготвени сме и за вашите пратки с
    температурен режим,а фиксирания час на доставка е просто още една от нашите услуги.</p>

  <p>Екипът ни е готов да отговори на най-висотите изисквания от Ваша страна, с бързина, точност, коректност и сигурност
    при изпълнение на Вашите поръчки. Спецификата на дейността предполага индивидуален подход и гъвкави решения при всеки
    казус и поръчка.</p>

  <p>Професионализмът на нашия екип работи в полза на нашите клиенти, осигурявайки им компетентно консултантско обслужване
    по всички въпроси в сферата на нашата дейност и свързаните с нея транспортни и митнически документи.</p>
  <p>С работата си доказваме професионализъм, коректно отношение, качество на извършваните услуги и стремеж към перфектно
    навременно обслужване.</p>

  <p>Възможност за изграждане на индивидуални транспортни схеми и логистични решения.</p>


  <p><strong>Професионализъм</strong></p>

  <p><strong>Надеждност</strong></p>

  <p><strong>Честност</strong></p>

  <p><strong>Отговорност</strong></p>
</div>



