<div class="row">
  <div class="container  col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading"><strong><%= t('views.pages.contacts.contacts_panel.company') %></strong>
      </div>
      <div class="panel-body">
        <%= raw t('views.pages.contacts.contacts_panel.contacts') %>
      </div>
    </div>
  </div>

  <div class="container col-md-6">
    <iframe width="550"
            height="400"
            frameborder="0"
            style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAFe7afgTxlMn7kI2VPTIKrl-e9gJDvxwY&q=Аерогара+София+-+блок+2,+1528+Летище+София,+София"
            allowfullscreen>
    </iframe>
  </div>

  <div class="container col-md-3" style="margin-top: -.6rem;">
    <%= render 'partials/message-form' %>
  </div>
</div>

