<div class="row">
  <div class="container  col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Велит Куриер Офис:</strong></div>
      <div class="panel-body">
        <p>гр. София - 1540,<br>
          Аерогара София, бл.2,<br>
          Тел: 07001 6336<br>
          Тел: +359 2 937-34-28;<br>
          Факс: +359 2 945-94-45<br>
          Email: office@velitcourier.com
        </p>
      </div>
    </div>
  </div>

  <div class="container col-md-6">
    <iframe width="550"
            height="300"
            frameborder="0"
            style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAFe7afgTxlMn7kI2VPTIKrl-e9gJDvxwY&q=Аерогара+София+-+блок+2,+1528+Летище+София,+София"
            allowfullscreen>
    </iframe>
  </div>

  <div class="container col-md-3" style="padding: 10px;">
    <form accept-charset="UTF-8" action="/" method="post">
      Your name:<br/><%= text_field(:name, 'Name') %> <br/>
      E-mail:<br/><%= email_field(:email, 'Email') %> <br/>
      Topic:<br/><%= text_field(:topic, 'Topic') %> <br/>
      Message:<br/><%= text_area_tag(:message, 'Hi, nice site', size: '5x6') %><br/>
    </form>
  </div>
</div>

