.nav > li > a {
    font-size: 1.2em;
}

.navbar-inner {
    min-height: 0px;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 55px;
    height: 40px;
    padding-top: 0;
    margin-bottom: 1em;
}

#language-bar > li > a {
    padding-left: 5px;
    padding-right: 5px;
}

.fit-to-container {
    height: 100%;
    width: 100%;
    object-fit: contain
}

.divider-10 {
    width: 100%;
    min-height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
}

.divider {
    height: 1px;
    width:100%;
    display:block; /* for use on default inline elements like span */
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.align-text-cell {
    padding-top: 2rem;
}

.justify-text{
    text-align:justify;
    text-justify:inter-word;
}

.text-field {
    width: 100%;
}

table tr td img{
    height: 100%;
    width: 100%;
    object-fit: contain
}

footer{
    background-color: #f8f8f8;
    position: relative;
    clear:both;
    padding-top:20px;
    padding-bottom: 20px;
}